services:
  caddy:
    image: caddy:2
    container_name: app-caddy
    
    ports:
      - "80:80"   # HTTP
      - "443:443" # HTTPS

    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    
    networks:
      - public
      - private

    restart: unless-stopped

  postgres:
    image: postgres:16-alpine
    container_name: app-postgres

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    
    volumes:
      - postgres_data:/var/lib/postgresql/data
    
    expose:
      - "5432"

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 10

    networks:
      - private

    restart: unless-stopped

  chroma:
    image: chromadb/chroma:1.3.6
    container_name: app-chroma

    environment:
      IS_PERSISTENT: "TRUE"
      ANONYMIZED_TELEMETRY: "FALSE"
    
    volumes:
      - chroma_data:/data

    expose:
      - "8000"

    healthcheck:
      test: [ "CMD", "/bin/bash", "-c", "cat < /dev/null > /dev/tcp/localhost/8000" ]
      interval: 5s
      timeout: 5s
      retries: 20

    networks:
      - private

    restart: unless-stopped

  backend:
    build:
      context: .
      dockerfile: dockerfiles\backend.Dockerfile

    container_name: app_backend

    env_file:
      - .env.prod
    
    expose:
      - "8000"

    depends_on:
      postgres:
        condition: service_healthy
      chroma:
        condition: service_healthy

    networks:
      - private
    
    restart: unless-stopped
  frontend:
    build:
      context: .
      dockerfile: dockerfiles\frontend.Dockerfile

    container_name: app_frontend

    env_file:
      - .env.prod

    environment:
      BACKEND_URL: "http://backend:8000"
    
    expose:
      - "8501"

    depends_on:
      - backend
    
    networks:
      - private
    
    restart: unless-stopped
  
networks:
  public:
  private:
    internal: true

volumes:
  postgres_data:
  chroma_data:
  caddy_data:
  caddy_config:
