services:
  postgres:
    image: postgres:16-alpine
    container_name: app-postgres

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    
    volumes:
      - postgres_data:/var/lib/postgresql/data

    ports:
      - "5432:5432"

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 10

    restart: unless-stopped

  chroma:
    image: chromadb/chroma:1.3.6
    container_name: app-chroma

    environment:
      IS_PERSISTENT: "TRUE"
      ANONYMIZED_TELEMETRY: "FALSE"
    
    volumes:
      - chroma_data:/data

    ports:
      - "8000:8000"

    healthcheck:
      test: [ "CMD", "/bin/bash", "-c", "cat < /dev/null > /dev/tcp/localhost/8000" ]
      interval: 5s
      timeout: 5s
      retries: 20

    restart: unless-stopped
  backend:
    build:
      context: .
      dockerfile: dockerfiles\backend.Dockerfile

    container_name: app_backend

    env_file:
      - .env
    
    ports:
      - "${PORT_BACKEND}:8000"

    depends_on:
      postgres:
        condition: service_healthy
      chroma:
        condition: service_healthy
    
    restart: unless-stopped
  frontend:
    build:
      context: .
      dockerfile: dockerfiles\frontend.Dockerfile

    container_name: app_frontend

    env_file:
      - .env

    environment:
      BACKEND_URL: "http://backend:8000"
    
    ports:
      - "${PORT_FRONTEND}:8501"

    depends_on:
      - backend
    
    restart: unless-stopped

volumes:
  postgres_data:
  chroma_data: